*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container {
    background-size: contain; /* Adjust background-size for smaller screens */
    background-position: center;
  }
}

.container{
  background-image: url(pinw.jpg);
  background-size: cover;
  background-position: center;
  padding: 167.5px;
  .header{
    font-family: font;
    text-align: center;
    padding: 20px;
}

.body{
    font-family: font1;
    text-align: center;
    padding: 20px;
}

.vertical-center {
  position:relative ;
  top: 10%;
  left: 42%;
}
.button{
  align-items: center;
  background-color: rgb(247, 195, 230);
  color: black;
  border-style: solid;
  cursor: pointer;
  border-radius: 70px;
  width: 150px;
  height: 50px;
}
}

@font-face {
  font-family: font;
  src: url(hpvd.otf)
}
@font-face {
  font-family: font1;
  src: url(lazyJ.otf)
}

